{% extends "users/base.html" %}
{% block title %}Manage Your Account{% endblock title %}

{% block content %}
    <div class="mx-auto text-wrap text-break">
        <h2 class="text-center">Username: {{request.user.username}}</h2>
        <h2 class="text-center">Email: {{request.user.email}}</h2>
        <div class="text-center mx-auto gap-2">
            <!-- <a href="#" class="btn btn-outline-warning" style="margin-top: 5px;">Update Email</a> -->
            <a href="{% url 'change-password' %}" class="btn btn-outline-danger" style="margin-top: 5px;">Change Password</a>
            <a href="{% url 'accdel-conf' %}" class="btn btn-danger" style="margin-top: 5px;">Delete Account</a>
        </div>
        <br><br>
        <h2 class="text-center">Saved Articles:</h2><br>
        <div class="container">
            <div class="row mx-auto">
                {% for article in saved %}
                    <div class="card mx-auto" style="width: 18rem; margin-top: 10px;">
                        <img src="{{article.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{article.title}}</h5>
                            <p class="card-text">{{article.description}}</p>
                            <p class="card-text"><small class="text-muted">{{article.date|date:"SHORT_DATE_FORMAT"}}</small></p>
                            <a href="{% url 'article-detail' article.id %}" class="btn btn-primary">Open</a>
                            <a href="{% url 'remove-save' article.id %}" class="btn btn-primary">Remove</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}