{% extends "users/base.html" %}
{% block title %}{{article.title}}{% endblock title %}
{% block descriptionmeta %}{{article.description}}{% endblock descriptionmeta %}
{% block metatags %}
<meta name="author" content="{{article.author}}">
<meta name="keywords" content="{{article.keywords}}">
{% endblock metatags %}
{% block content %}
<br>
<div class="mx-auto">
    <h2 class="text-center">{{article.title}}</h2>
    <p class="text-center"><small class="text-muted">Written By {{article.author.username}} | {{article.date|date:"SHORT_DATE_FORMAT"}} | <a href="{% url 'subject' article.subject.name %}" class="text-decoration-none">Subject: {{article.subject.name}}</a></small></p>
    <div class="mx-auto"><img style="height: auto;width: 500px" class="mx-auto img-fluid rounded d-block img-thumbnail" src="{{article.image.url}}"></div><br>
    <div class="text-break mx-auto w-75 text-wrap">
        {{article.content|safe}}
    </div>
    {% if request.user.is_authenticated %}
        <div class="text-center mt-1 mb-1">
            <a href="{% url 'changes-history' article.id %}" class="text-decoration-none fs-5"><i class="fa-sharp fa-solid fa-clock-rotate-left"></i> Change History</a>
            <a href="{% url 'change-edit' article.id %}" class="text-decoration-none fs-5">| <i class="fa-sharp fa-solid fa-pen-nib"></i> Edit This Article</a>
        </div>
    {% else %}
        <div class="text-center mt-1 mb-1">
            <a href="{% url 'changes-history' article.id %}" class="text-decoration-none fs-5"><i class="fa-sharp fa-solid fa-clock-rotate-left"></i> Change History</a>
            <a href="#" class="text-decoration-none fs-5"><i class="fa-sharp fa-solid fa-pen-nib"></i> Login Edit This Article</a>
        </div>
    {% endif %}
</div>


{% endblock content %}